version: 2

jobs:
  build:
    docker:
      - image: jbugman/funlang-circleci:0.5.1
    working_directory: /go/src/github.com/jBugman/fun-lang
    steps:
      - checkout

      - restore_cache:
          key: v3
      - run:
          name: Installing GHC
          command: "stack setup"
      - run:
          name: Installing dependencies with Stack
          command: "stack test --only-dependencies"
      - save_cache:
          key: v3
          paths:
            - ~/.stack

      - run:
          name: Go dependencies
          command: "dep ensure"

      - run:
          name: Go tests
          command: "ginkgo --noisyPendings=false ./func-parse/parser"

      - run:
          name: Running tests
          command: "stack test --coverage"

      - run:
          name: Report coverage to coveralls.io
          command: >
            timeout 10
            hpc-coveralls fun-lang-test
            --tix-dir=$(stack path --local-hpc-root)/language-fun
            --mix-dir=$(stack path --dist-dir)/hpc
            --repo-token=$COVERALLS_TOKEN
            || true

